*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('images/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.header img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}