*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('images/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.header img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit:cover;
    object-position: o -8px;
    margin-right: 10px;
}
.main{
    background-color:rgba(0,0,0,0.7);
    color: white;
    border-radius: 20px;
    width: 30%;
    height: 60vh;
    text-align: right;
    margin-top: 2px;
    color: white;
    text-align: center;
}